<footer class="footer">
  <div class="row lg-menu">
    <div class="container">
      <div class="col-md-4 col-sm-4">
        <img src="../../../../assets/img/footer-logo2.png" class="img-responsive" alt=""> 
      </div>
      <div class="col-md-8 co-sm-8 pull-right">
        <ul>
          <li><a href="/" title="">Home</a></li>
          <li><a href="/blog" title="">Blog</a></li>
     
          <li><a href="/faq" title="">FAQ</a></li>
        
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-padding">
    <div class="container">
      <div class="col-md-3 col-sm-12">
        <div class="footer-widget">
        <h3 class="widgettitle widget-title">About TVET PATHWAYS</h3>
        <div class="textwidget">
        <p>Best Place To Grow Your Career</p>
        <p><br>
          22 Around Goglagul, Addis Ababa, Ethiopia</p>
          <p><strong>Email:</strong><a href="mailto:support@tvetpathways.com">support@tvetpathways.com</a> </p>
        <p><strong>Call:</strong>  <a href="tel:+251911466540">+251 911 466 540</a>/
          <a href="tel:+251953989885">+251 953 989 885</a></p>
        <ul class="footer-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-4">
       
      </div>
      
      <div class="col-md-3 col-sm-4">
       
      </div>
        
      <div class="col-md-3 col-sm-4">
        <div class="footer-widget">
        <h3 class="widgettitle widget-title">Connect Us</h3>
        <div class="textwidget">
        <form class="footer-form" action="/sendcontactmsg" method="post">
          <input type="text" class="form-control" placeholder="Your Name" name="fullname"> 
          <input type="email" class="form-control" placeholder="Email" name="email">
          <input type="text" class="form-control" placeholder="Phone Number" name="phonenumber">
          <textarea class="form-control" placeholder="Message" name="message"></textarea>
          <button type="submit" class="btn btn-primary btn-block">Send Message</button>
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="container">
      <p><a target="_blank" href="https://www.TVETPATHWAYS.com">TVETPATHWAYS</a></p>
    </div>
  </div>
</footer>