<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
  <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
              class="fa fa-bars"></i></button>
      <div class="navbar-header"><a class="navbar-brand" href="/"><img src="../../../assets/img/logo-white2.png"
                                                                                  class="logo logo-display"
                                                                                  alt=""><img
              src="../../../assets/img/logo-white2.png" class="logo logo-scrolled" alt=""></a></div>
      <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
              <li><a href="/signup"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
            
              <li class="left-br"><a href="/login" 
                                     class="signin">Sign In Now</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
              
              <li><a href="/">Home</a></li>
              <li><a href="/aboutus">ABout Us</a></li>
              <li class="dropdown megamenu-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directories</a>
                <ul class="dropdown-menu megamenu-content" role="menu">
                    <li>
                      <div class="content">
                        <div class="row">
                          <div class="col-menu col-md-4">
                            <ul class="menu-col">
                                <li><a href="/government-agency-directories">Government Office</a></li>
                              
                            </ul>
                            </div>
                            <div class="col-menu col-md-4">
                              <ul class="menu-col">
                                  <li><a href="/ngo-agency-directories">Non Governmental Office</a></li>
                                
                              </ul>
                              </div>
                              <div class="col-menu col-md-4">
                                <ul class="menu-col">
                                    <li><a href="/tvet-center-directories">TVET Centers</a></li>
                                  
                                </ul>
                                </div>
                                
                        </div>
                       
                    </div>
                       
                    </li>
                </ul>
            </li>
              <li><a href="/news">News And Programs</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </div>
  </div>
</nav>
