
<nav class="navbar navbar-expand-lg navbar-default">
  <a class="navbar-brand" href="/">TVET<span>PATHWAYS</span></a>
  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars btn-green fa-2x"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav  navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">News & Programs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogs">Blog</a>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Directories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/government-agency-directories">Government Agency</a>
          <a class="dropdown-item" href="/ngos-directories">NGOs</a>
          <a class="dropdown-item" href="/bussiness-enterprise-catelogue">Bussiness Enterpises Catelogue</a>
      
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/searchjob">Search Job</a>
      </li>
    </ul>  
  </div>
</nav>