<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/imagehover.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

 <style>

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
a, a:hover, .btn{outline:none!important;}
.btn-search{background: #FD3A13; border-color: #FD3A13; color: #fff; padding: 7px 10px}
.btn-search:hover{background: #ca1b1b; border-color: #ca1b1b}
section{padding: 30px 0; float: left; width: 100%}
.card{float: left; width:100%}

.title-large {font-size: 20px; margin: 10px 0 5px; line-height: 27px; color: #141517;}
.title-small { color: #141517; font-size: 16px; font-weight: 400; line-height: 23px; margin: 6px 0 0;}
.title-x-small {font-size: 18px; margin: 0px;}
.title-large a, .title-small a, .title-x-small a{color: inherit}
.banner-sec{float: left; width: 100%; background: #EBEBEB}
.card-block{padding:0 10px 10px;}
.card-text{margin: 0}
.text-time{color: #ff0000; font-weight: 600;}
.banner-sec .card-img-overlay{padding: 0; top: 3px; left: 7px; height: 20%}

.top-slider .carousel-indicators{bottom: 0}
.top-slider .carousel-indicators li{border:1px solid #000;}
.top-slider .carousel-indicators .active{background:#000;}


.side-bar .nav-tabs{border-bottom:none;}
.side-bar .nav-tabs .nav-link {color: #aeaeae; text-transform: uppercase; border: none;}
.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover{border-bottom:2px solid #ff0000;  text-transform: uppercase; color: #222}
.sidebar-tabing .media{margin-top: 20px}
.sidebar-tabing img{width: 120px;height: 100px;}
.sidebar-tabing .title-small {line-height: 23px; margin-top: 5px; font-size: 18px}

#search {float: right; margin-top: 9px; width: 250px;}
.search {padding: 5px 0; width: 230px; height: 30px; position: relative; left: 10px; float: left; line-height: 22px;}
.search input {background: #d0d0d0; border: medium none; border-radius: 3px 0 0 3px; float: left; height: 36px; line-height: 18px; margin-left: 210px; padding: 0 9px; position: absolute; top: -3px; width: 0; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;}
.search:hover input, .search input:focus { width: 200px; margin-left: 0px; background: #d0d0d0;}
.top-nav .btn {position: absolute;right: 0;top: -3px;border-radius:3px;}

.banner-sec{float: left; width:100%;}
.banner-sec .news-block{margin-bottom: 20px}
.banner-sec .news-block:last-child{margin-bottom: 0px}
.banner-sec .news-des {margin-bottom: 5px;}
.banner-sec .title-large{margin: 18px 0 0}
.banner-sec .time{margin-top: 0px; font-size: 13px;}
.banner-sec .carousel-control.left, .banner-sec .carousel-control.right{background: none;}
.banner-sec .card{margin-bottom:20px;}


 </style>
      <style>


        .cards {
          display: grid;
          grid-auto-columns: 100%;
          grid-column-gap: 10px;
          grid-auto-flow: column;
          padding: 5px 0px;
          list-style: none;
          overflow-x: scroll;
          font-size: small;
          scroll-snap-type: x mandatory;
        }
        
        .card {
          display: flex;
          flex-direction: column;
          
          background: var(--white);
          border-radius: 12px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
          scroll-snap-align: start;
          transition: all 0.2s;
        }
        
        .card:hover {
          color: var(--white);
          background: var(--orange);
        }
        
        .card .card-title {
          font-size: 20px;
        }
        
        .card .card-content {
          margin: 10px 0;
          max-width: 85%;
        }
        
        .card .card-link-wrapper {
          margin-top: auto;
        }
        .card {
      background: white;
    }
    
    .card:hover {
      background: #5FCF80;
      color:white;
    }
        .card .card-link {
          display: inline-block;
          text-decoration: none;
     
          background: var(--orange);
      
          border-radius: 8px;
          transition: background 0.2s;
        }
        
        .card:hover .card-link {
          background: var(--darkorange);
        }
        
        .cards::-webkit-scrollbar {
          height: 12px;
        }
        
        .cards::-webkit-scrollbar-thumb,
        .cards::-webkit-scrollbar-track {
          border-radius: 92px;
        }
        
        .cards::-webkit-scrollbar-thumb {
          background: var(--darkorange);
        }
        
        .cards::-webkit-scrollbar-track {
          background: var(--thumb);
        }
        
        @media (min-width: 500px) {
          .cards {
            grid-auto-columns: calc(50% - 10px);
            grid-column-gap: 20px;
          }
        }
        
        @media (min-width: 700px) {
          .cards {
            grid-auto-columns: calc(calc(100% / 3) - 20px);
            grid-column-gap: 30px;
          }
        }
        
        @media (min-width: 1100px) {
          .cards {
            grid-auto-columns: calc(25% - 30px);
            grid-column-gap: 40px;
          }
        }
        
        
        
            </style>  
</head>

<body>
  <!--Navigation bar-->
 <%- include ('./partials/header') %>
  <!--/ Navigation bar-->
  <!--Modal box-->


        <div class="top-head left py-2" style="background-color: #9bbda3;">
    <div class="container">
            <div class="row">
        <div class="col-md- 8col-lg-6">
               <h1 class="text-light">TVETPATHWAYS News</h1> <h4><small><br>Get the latest News and Training Program Opportunities</small></h4>
              </div>
      
      </div>
          </div>
  </div>
      
<section id="" class="" style="background-color: #fff;">
    
        <div class="container">
   
    <div class="py-5">
        <div class="row">
            <ul class="cards" id="">
            
            <li class="card">
            <div class="">
            <div class="card-content">
            <div class="card-body">
            <div class="">
                <h6>    Categories 1: </h6>
            
            </div>
            
            </div>
            </div>
            </div></li>
            <li class="card">
                <div class="">
                <div class="card-content">
                <div class="card-body">
                <div class="">
                    <h6>   Categories 2: </h6>
                
                </div>
                
                </div>
                </div>
                </div></li>
              
                        <li class="card">
                            <div class="">
                            <div class="card-content">
                            <div class="card-body">
                            <div class="">
                                <h6>   Health: </h6>
                            
                            </div>
                            
                            </div>
                            </div>
                            </div></li>
                            <li class="card">
                                <div class="">
                                <div class="card-content">
                                <div class="card-body">
                                <div class="">
                                    <h6>   ICT: </h6>
                                
                                </div>
                                
                                </div>
                                </div>
                                </div></li>
                                <li class="card">
                                    <div class="">
                                    <div class="card-content">
                                    <div class="card-body">
                                    <div class="">
                                        <h6>   Short Term: </h6>
                                    
                                    </div>
                                    
                                    </div>
                                    </div>
                                    </div></li>
                                    <li class="card">
                                        <div class="">
                                        <div class="card-content">
                                        <div class="card-body">
                                        <div class="">
                                            <h6>   Manufucturing: </h6>
                                        
                                        </div>
                                        
                                        </div>
                                        </div>
                                        </div></li>
            </ul>
            </div>
          </div>
          
  </div>
      
</section>
<section class="banner-sec">
        <div class="container">
    <div class="row">
            <div class="col-md-3">
        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
                <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
                <div class="card-body">
            <div class="news-title">
                    <h2 class=" title-small"><a href="#">TVETs to offer post-graduate, PhD programs</a></h2>
                  </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
          </div>
              </div>
        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel.jpg" alt="">
                <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">ILO</span> </div>
                <div class="card-body">
            <div class="news-title">
                    <h2 class=" title-small"><a href="#">Satellite vocational training center brings hope to displaced and local communities in Ethiopia</a></h2>
                  </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
          </div>
              </div>
      </div>
            <div class="col-md-3">
        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/business1.jpg" alt="">
                <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Travel</span> </div>
                <div class="card-body">
            <div class="news-title">
                    <h2 class=" title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                  </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
          </div>
              </div>
        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/food.jpg" alt="">
                <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
                <div class="card-body">
            <div class="news-title">
                    <h2 class=" title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                  </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
          </div>
              </div>
      </div>
            <div class="col-md-6 top-slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
                <!-- Indicators -->
                <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                    <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics1.jpg" alt=""></div>
                <div class="news-title">
                        <h2 class=" title-large"><a href="#">TVETs to offer post-graduate, PhD programs</a></h2>
                      </div>
                <div class="news-des">The Ministry of Skill and Labor is establishing the frameworks required for institutes of technical and vocational education training (TVET) to offer postgraduate and doctoral programs.

                  For decades, TVETs offered only diploma programs, which were widely regarded as inferior to the academically focused degrees offered by higher education institutions, such as universities.</div>
                <div class="time-text"><strong>2h ago</strong></div>
                <div></div>
              </div>
                  </div>
            <div class="carousel-item">
                    <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/sport1.jpg" alt=""></div>
                <div class="news-title">
                        <h2 class=" title-large"><a href="#">An Alternative Form of Mental Health Care Gains a Foothold</a></h2>
                      </div>
                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                <div class="time-text"><strong>2h ago</strong></div>
                <div></div>
              </div>
                  </div>
            <div class="carousel-item">
                    <div class="news-block">
                <div class="news-media"><img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/health.jpg" alt=""></div>
                <div class="news-title">
                        <h2 class=" title-large"><a href="#">Key Republican Senator Says She Will Not Vote for former president!</a></h2>
                      </div>
                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                <div class="time-text"><strong>2h ago</strong></div>
                <div></div>
              </div>
                  </div>
          </div>
              </div>
      </div>
          </div>
  </div>
      </section>
<section class="mb-5" id="faculity-member" style="background-color: whitesmoke;" >
        <div class="container">
    <div class="row">
            <div class="col-lg-8 col-md-12">
        <h3 class="heading-large">Upcoming Training Programs</h3>
        <div class="mb-5 mt-5">
                <div class="col-lg-6 card mb-2">
            <div class=""> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/war.jpg" alt="">
                    <div class="card-body">
                <div class="news-title"><a href="#">
                  <h2 class=" title-small">TVETs to offer post-graduate, PhD programs</h2>
                  </a></div>
                <p class="card-text">In Ethiopia, TVETs provide over 124 different types of training.

                  Tadele believes that the introduction of new graduate and postgraduate programs will enhance TVET education.
                  
                  He added, “It helps to improve the quality of education and create more employment opportunities in the sector.”</p>
                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
              </div>
                  </div>
          </div>
        
          <div class="col-lg-6 card mb-2">
            <div class=""> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/war.jpg" alt="">
                    <div class="card-body">
                <div class="news-title"><a href="#">
                  <h2 class=" title-small">TVETs to offer post-graduate, PhD programs</h2>
                  </a></div>
                <p class="card-text">In Ethiopia, TVETs provide over 124 different types of training.

                  Tadele believes that the introduction of new graduate and postgraduate programs will enhance TVET education.
                  
                  He added, “It helps to improve the quality of education and create more employment opportunities in the sector.”</p>
                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
              </div>
                  </div>
          </div>
              </div>
      </div>
            <aside class="col-lg-4 side-bar col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Latest</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Top</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Featured</a> </li>
              </ul>
        
        <!-- Tab panes -->
        <div class="tab-content sidebar-tabing" id="nav-tabContent">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://demo.keonthemes.com/gutener/demo15/wp-content/uploads/sites/56/2021/05/gutener-education-img-3-128-128.png" alt="Generic placeholder image"></a>
                    <div class="media-body">
                        <div class="news-title">
                            <h2 class="title-small"><a href="#">ADDIS ABABA MEDICAL AND BUSINESS COLLEGE The another role of TVET is providing continuing vocational training to workers.</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                    </div>
                  </div>
            <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://www.worldbank.org/content/dam/wbr/logo/logo-wb-header-en.svg" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">Improve Technical and Vocational Education and Training (TVET) to meet skills and labour mismatch</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
            <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://www.thereporterethiopia.com/wp-content/uploads/2022/03/The-reporter-2.png" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">TVETs to offer post-graduate, PhD programs</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
          </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                  <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://www.worldbank.org/content/dam/wbr/logo/logo-wb-header-en.svg" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">Improve Technical and Vocational Education and Training (TVET) to meet skills and labour mismatch</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
            <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://www.thereporterethiopia.com/wp-content/uploads/2022/03/The-reporter-2.png" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">TVETs to offer post-graduate, PhD programs</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
          </div>
                <div class="tab-pane" id="messages" role="tabpanel">
                  <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://www.worldbank.org/content/dam/wbr/logo/logo-wb-header-en.svg" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">Improve Technical and Vocational Education and Training (TVET) to meet skills and labour mismatch</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
            <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://www.thereporterethiopia.com/wp-content/uploads/2022/03/The-reporter-2.png" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">TVETs to offer post-graduate, PhD programs</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
                  <div class="media"> <a href="#"> <img class="d-flex mr-3" src="https://addisabeba.aics.gov.it/wp-content/uploads/2019/02/LOGO_AICS_ETH_ENG_800x130.jpg" alt="Generic placeholder image"></a>
                    <div class="media-body">
                <div class="news-title">
                        <h2 class="title-small"><a href="#">Improvement on skill development and job creation under TVET program in Ethiopia</a></h2>
                      </div>
                <div class="news-auther"><span class="time">1h ago</span></div>
              </div>
                  </div>
          </div>
              </div>
       
      </aside>
          </div>
  </div>
      </section>
      

  
  <!--Feature-->
  
  
  <!--/ Contact-->
  <!--Footer-->
  <%- include ('./partials/footer') %>
 
  <!--/ Footer-->

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>
<script>
    $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})


$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
    $('#myCarousel .list-group-item').outerHeight(triggerheight);
});

var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];
var dayNames= ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]

var newDate = new Date();
newDate.setDate(newDate.getDate() + 1);    
$('#Date').html(dayNames[newDate.getDay()] + ", " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());
</script>
</body>

</html>
